// GLOBAL
$transition: 130ms;
$finger-size: 42px;
$border-radius: 4px;

// COLOR
$color-success: green;
$color-warning: yellow;

// FONT
$font-family-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family: $font-family-fallback;
$font-line-height: 1.4;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
