.v-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s linear, visibility 0.2s linear;

  svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
